:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos pricipais */
body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;
    margin-top: 5px;
}

header nav a:hover {
    color: #FFF;
    transition: .5s;
}

/* desenho principal */
.desenho-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/desencanto.jpg');
    height: 440px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.desenho-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i {
    margin-right: 5px;
}


.link {
    background-color: rgba(0,0,0,.100);
    border:none;
    color: white;
    text-decoration: none;
    
}

.link:hover {
    background-color:white;
    color:black;
}

.container {
    margin-left: 20px;
}

.desenho-principal .container{
    width: 70%;
}

.box-desenho {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-desenhos {
    margin-top: 5px;
}


.video {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.trailer {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/desencanto.jpg');
    height: 460px;
    background-size: cover;
}

.info {
    display: inline-flex;
}

h3 {
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
}

h4 {
    margin: 5px;
    padding: 5px;
    display: flex;
}

p {
    margin: 5px;
    padding: 5px;
    display: flex;
}

footer {
    padding: 15px;
    font-size: 26px;
    text-align: center;
}

.busca {
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    color: white;
    border:none;
    height:32px;
    width: 400px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    
}
